/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.label:first-of-type {
  margin-left: 0;
}

.label {
  color: #fff;
  margin-left: 5px;

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #fff;
      text-decoration: none;
    }
  }
}

.label-black {
  background-color: black;
}

.label-purple {
  background-color: purple;
}

.label-green {
  background-color: green;
}

.label-white {
  color: #000;
  background-color: white;

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #000;
    }
  }
}
